@model IEnumerable<ContactsManagerWeb.Models.DTO.ContactsDTO>

<div class="d-flex justify-content-center align-items-center">
    <img class="d-block w-100" src="images/home/ContactsManager.png" alt="" />
</div>

